.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.d-colo-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}