@font-face {
    font-family: 'toba-light';
    src: url(../fontwab/FrutigerLTArabic45Light.ttf);
}

@font-face {
    font-family:'tuba-bold' ;
    src: url(../fontwab/FrutigerLTArabic65Bold.ttf);
  
}

@font-face {
    font-family:'tuba-roman' ;
    src: url(../fontwab/FrutigerLTArabic55Roman.ttf);

}

@font-face {
    font-family:'tuba-black' ;
    src: url(../fontwab/frutigerltarabic75black.ttf);
    font-family: sans-serif;
 
}

:root{
    --colorP1:#31848B;
    --colorP2:#009fb7;
    --colorP3:#04b9d2;
    --colroS1:#d0935d;
    --colroS2:#efad57;
    --colroS3:#f1d7c5;
    --color-weight:#fff;
    --color-black:black;

    --primary-color:rgba( 49 , 132 , 139 , 100) ;
    --image-contant-color:rgba( 49 , 132 , 139 , 0.20) ;
    --font-light: 'toba-light' ,'sans-serif';
    --font-bold: 'toba-bold' ,'sans-serif';
    --font-roman: 'toba-roman' ,'sans-serif';
    --font-black: 'toba-black' ,'sans-serif';
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html{
  scroll-behavior: smooth;
  }
 body{
  direction: rtl;
  background-color: var(--colorP1);
 }
body a{
  text-decoration: none;
}

.titles{
  font-family: 'tuba-roman' , sans-serif;
  color:var(--color-weight);
 
}

/* ============== botstrab============ */
img{
  max-width: 100%;
}
.gallary{
  background-color:var(--colorP1);
  width: 100%;
  cursor: pointer;
}
/* .col{
  background-color: var(--colorP1);
} */

.col img {
  border-radius: 15px;
  border: none;
}
.col{
  background-color: transparent;
} 
.col.mmm{
  /* padding-top: 1.5rem;
  box-shadow: none; */
  display: flex;
  align-items: center;

}
 
 .gallary col img{
  padding:none;
  /* width: 95%; */
  box-shadow:0 0 5px rgba(0, 0, 0, 0.3) ;
  cursor: pointer;
} 



.img-thumbnail {
  padding: none;
  background-color: none; 
  border: none;
  border:none;
  max-width: 100%;
  height:none;}

#gallary-modal .modal-img{
  width: 100%;
}

 .btn.btn-primary{
display: none;
}
.modal-header ,.modal-body{
  background-color: var(--colorP1);
  
}
/* section{
  width: 100%;
  position: absolute;
  top: 30%;
  right: 0;
} */

/* ============== botstrab============ */
  /* ================ header ================ */
  .main-header-page{
    position: relative;
    padding: 2rem 2rem;
    width: 100%;
    height: 100vh;
    background: #31848B url(../images/PageImageMain/header1-1.jpeg) no-repeat center/cover;
    /* background: #31848B url(/images/header.jpeg) no-repeat center/cover; */

  }
  
  /* ============== هنا توضيح =========== */
 .container-header {
    /* background-color: rgba(49, 131, 139, 0.664); */
    padding: 0.5rem;
    border-radius: 5px;
  }
 
   .main-header-page .container-header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(49, 131, 139, 0.55);
    padding: 0.5rem;
    border-radius: 5px;
  }
 

  /* .title-header{
    position:absolute;
    top: 80%;
    left: 20%;
  } */
  /* .title-header h1{

    line-height:3.5rem ;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'tuba-black' , sans-serif;
    color: #FFFFFF;
    text-shadow: 3px 3px var(--colorP1) ;
  } */

 
  /* ================= catigory======================== */

  .container-catigory {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 1rem;
    gap: 0.9rem;
    background-color: var(--colorP1);
    width: 100%;
  }
  .container-catigory .box-container{
    position: relative;
    border-radius: 5px; 
    border: #FFFFFF 1px solid;
    overflow: hidden;
    background-color: #FFFFFF;
  }
/* 
  .image-conitainer:hover{
   transform: scale(1);
   transition: 0.3s ease-in-out;
  } */

  /* .image-conitainer::before{
    content: ' عروض جديدة  ';
    position: absolute;
    top: 0;
    left: 0%;
    padding: 2px 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
    color:var(--colorP1);
    font-family: 'tuba-bold' , sans-serif;
  }
  .container.container-catigory{
    position:absolute;
    top: 100%;
    background-color: var(--colorP1);
  }
  */

    
  a:hover .image-conitainer{
    border: none;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 0.8px 50px 0 rgba(0, 0, 0, 0.014);

  }

 

.box-container{
  border: #009fb7 2px solid;
  height: 300px;
  text-align: center;
  background: #009fb7 url(../images/PageImageMain/img-1.jpeg) no-repeat center center/cover;
  color: var(--color-weight);
  border-radius: 7px;
}
.box-container .box-container-contant{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: rgba(49, 131, 139, 0.872);
  font-family: 'tuba-bold' ,sans-serif ;
 
}
.box-container.garden{
  background: #009fb7 url(../images/PageImageMain/img-1.jpeg) no-repeat center bottom/cover; 
}

.box-container.cloude{
  background: #009fb7 url(../images/PageImageMain/img-2.jpeg) no-repeat center bottom/cover; 
 }
 
.box-container.hot{
  background: #009fb7 url(../images/PageImageMain/img-3.jpeg) no-repeat center bottom/cover; 
 }
.box-container.armintrip{
  background: #009fb7 url(../images/PageImageMain/img-4.jpeg) no-repeat center center/cover;
 }
.box-container.tuba-forn{
  background: #009fb7 url(../images/PageImageMain/img-5.jpeg) no-repeat center bottom/cover; 
 }
.box-container.Atbaq-Mokjtarh{
  background: #009fb7 url(../images/PageImageMain/img-6.jpeg) no-repeat center bottom/cover; 
 }
.box-container.Sweet{
  background: #009fb7 url(../images/PageImageMain/img-7.jpeg) no-repeat center bottom/cover; 
 }
.box-container.fruits{
  background: #009fb7 url(../images/PageImageMain/img-8.jpeg) no-repeat center bottom/cover; 
 }

 
a:hover{
  padding: 3px;
  border-radius: 5px;
  color: #f1d7c5;
  
  /* box-shadow: 0 0 8px rgba(3, 3, 3, 0.801); */
  transition: 0.5s ease-in-out;
 }

 .container-catigory {
  border: #fff 2px solid;
 }
 .box-container{

 }

 /* .box-container.hot:hover .box-container-contant {
  background-color: rgba(49, 131, 139, 0.883);
  color:var(--colroS3);

 }
 .box-container.garden:hover .box-container-contant {
  background-color: rgba(49, 131, 139, 0.883);
  color:var(--colroS3);
 }
 .box-container.hot:hover .box-container-contant {
  background-color: rgba(49, 131, 139, 0.883);
  color:var(--colroS3);
 }
 .box-container.armintrip:hover .box-container-contant {
  background-color: rgba(49, 131, 139, 0.883);
  color:var(--colroS3);
 } */


 

 

 /* .box-container.hot::after{
  content: "";
  background: url(/images/مزات\ طوبى\ ساخنة.jpeg);
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;  
 } */
 /* .box-container.armintrip{
  background-color:var(--colroS2);
  color: var(--colorP1);
 } */
 /* ----------------- modle ------------------ */
 .modal-header {
  gap: 10rem;
 }

.modal-header .btn-close {
  background-color: var(--color-weight);
}
.revea{
  /* position: relative;
  transform: translateY(150px);
  opacity: 0; */
}
.reveal.active{
  position: relative;
  transform: translateY(0px);
  opacity: 1;
}